<%- include('partials/header'); %>
    <ul>
        <% for( var i = 0; i < emailids.length; i++ ) { %>
            <li><%= emailids[i] %></li>
        <% } %>
    </ul>
<%- include('partials/footer'); %>